@{
    ViewData["Title"] = "Movie Generator";
}
<h1>@ViewData["Title"]</h1>

<p>Everyone has that one friend(or more than one) who likes to be picky with what movie the group picks to watch.
    Please choose what is most important to you when watching a movie. Is it the Genre, the Rotten Tomatoes Rating, or The Actors in it?</p>

