@{
    ViewData["Title"] = "Home Page";
}

<body class="home">
    <h1 class="display-4">Welcome!</h1>
    <p>
        Hello! As someone who enjoys watching movies with others as well as showing others
        movies that I adore, I decided to create this movie generator to help those in need...
        of picking a movie without entering an hour long discussion over whether or not to
        start a Horror movie or a Thriller, or which Harry Potter movie trumps the others,
        or Star Wars or any other series. After having many discussions with my friends over
        and over again, I created a solution. From here you can navigate to the Movie Generator
        tab where you can choose a genre and only a genre to generate a random movie. And
        although this will help you  come up with a random movie, it is still between you and
        your friends if you decide to watch it.
    </p>
    <h4>Good Luck!</h4>
    <br />
    <br />
    <h3>Below you will see some of the creators favorites as well as some all time most famous movies!</h3>

    <div class="container">
        <ul class="row">
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/mrright.jpg" alt="MrRight" class="card-img-top">
                    <div class="card-body">
                        <p class="caption">Mr.Right</p>
                    </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/harrypotter1.jpeg" alt="HarryPotter" style="width:100%">
                    <div class="caption">
                        <p>Harry Potter and the Sorcerer's Stone</p>
                    </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/harrypotter1.jpeg" alt="HarryPotter" style="width:100%">
                    <div class="caption">
                        <p>Harry Potter and the Sorcerer's Stone</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul>


        </ul>
    </div>



</body>

