@{
    ViewData["Title"] = "Home Page";
}

<body class="home">
    <h1 class="display-4">Welcome!</h1>
    <h4>
        Hello! As someone who enjoys watching movies as well as showing others movies
        that I adore, I decided to create this movie generator to help those in need...
        of picking a movie without entering an hour long discussion over what to watch.
    </h4>
    <h4>Good Luck!</h4>
    <br />
    <br />
    <h3>Below you will see some of the creators favorites as well as some all time most famous movies!</h3>

    <div class="container">
        <ul class="row">
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/mrright.jpg" alt="MrRight" style="width:100%">
                    <div class="card-body">
                        <p class="caption">Mr.Right</p>
                    </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/inception.jpg" alt="Inception" style="width:100%">
                    <div class="card-body">
                        <p class="caption">Inception</p>
                    </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/starwars.jpg" alt="StarWars" style="width:100%">
                    <div class="card-body">
                        <p>Star Wars</p>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="row">
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/topgunmaverick.webp" alt="TopGunMaverick" style="width:100%">
                    <div class="card-body">
                        <p class="caption">Top Gun Maverick</p>
                    </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/harrypotter1.jpeg" alt="HarryPotter" style="width:100%">
                    <div class="card-body">
                        <p>Harry Potter and the Sorcerer's Stone</p>
                    </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/madmax.jpg" alt="MadMax" style="width:100%">
                    <div class="card-body">
                        <p>Mad Max</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>


    <br />
</body>

